.App {
  min-height: 100vh;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}
.App-footer button {
  margin-right: 10px;
}

